In [7]:
import pandas as pd
import streamlit as st
from app.connection.get_data import get_data

In [10]:
# Ejemplo de consulta sobre la tabla de monthly REPORT
query = 'SELECT * FROM [monthly_report]'
df = get_data(query)
df

Connection established

/Users/luciano/Documents/Cursos Dev/SoyHenry/DTS-08/Labs/PG/PF_DS/app/connection/get_data.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, cnxn)

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_date,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent,farebox_per_trip,farebox_per_vehicle
0,FHV - Black Car,5359,0,2737,2725,1469,16.7,3.3,16.7,3.3,...,2015-01-28,0,4,37513,2015,0,5359,0.0,0.000000,0.000000
1,FHV - Black Car,6213,0,2640,2620,1618,17.3,3.5,17.2,3.5,...,2015-02-28,0,8,43491,2015,0,6213,0.0,0.000000,0.000000
2,FHV - Black Car,5338,0,2921,2882,1296,13.9,3.3,13.6,3.3,...,2015-03-28,0,12,37366,2015,0,5338,0.0,0.000000,0.000000
3,FHV - Black Car,10060,0,5237,5225,2653,15.2,3.3,15.2,3.2,...,2015-04-28,0,17,70420,2015,0,10060,0.0,0.000000,0.000000
4,FHV - Black Car,7681,0,4561,4550,2055,14.0,3.2,14.0,3.2,...,2015-05-28,0,21,53767,2015,0,7681,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Yellow,101328,1918370,9678,7169,5823,25.2,8.8,21.6,7.6,...,2022-08-28,59469470,34,709296,2022,13428590,101328,0.0,18.932279,8295.364765
649,Yellow,105740,2100507,10242,7373,6000,24.4,8.9,20.4,7.6,...,2022-09-28,63015210,39,740180,2022,14703549,105740,0.0,19.864829,8546.753018
650,Yellow,118027,2293014,10730,7576,6437,26.3,9.2,21.9,7.8,...,2022-10-28,71083434,43,826189,2022,16051098,118027,0.0,19.427877,9382.713041
651,Yellow,108146,2088897,10804,7685,6100,23.8,9.1,19.9,7.7,...,2022-11-28,62666910,48,757022,2022,14622279,108146,0.0,19.315527,8154.445023
652,Yellow,109290,2358924,10749,7791,6529,26.0,8.7,22.0,7.5,...,2022-12-28,73126644,52,765030,2022,16512468,109290,0.0,21.584079,9386.040816